* {
    box-sizing: border-box;
    font-family: 'Advent Pro', sans-serif;
}

body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url('../img/pexels-photo.webp');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
}

.header h1 {
    /*h1 sin punto porque es una tiqueta*/
    font-size: 60px;
    color: red
}

.header p {
    /*h1 sin punto porque es una tiqueta*/
    font-size: 40px;
    color: whitesmoke
}


/* Create three equal columns that floats next to each other */


/* Ejemplo de estilos por clase */

.one-column {
    float: left;
    width: 100%;
    /*padding: 0 20% 0 20%;*/
    /*TOP RIGHT BOTTOM LEFT*/
    padding: 20PX 20%/*TOP+BOTTOM RIGHT+LEFT*/
}

.one-column h1,
.one-column h2 {
    text-align: center;
}

.two-column {
    padding: 20px;
    float: left;
    width: 50%;
}

.three-column {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.three-column img {
    width: 100%;
}

.three-column .desc {
    padding: 15px;
    text-align: center;
}

#cadetblue {
    background-color: cadetblue;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Image Gallery*/


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}